html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
  background: #FAA288;
  color: #000;
  font-family: 'Verdana', sans-serif;
  margin: 4rem;
}

header {
  background: #6B142D;
  color: #fff;
  padding: 20px;
  margin: 0px;
}

article {
  flex-wrap: wrap;
}
